@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply h-full bg-white text-gray-500 antialiased dark:bg-gray-900 dark:text-gray-400;
    padding: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
      env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
  }
  #app {
    @apply h-full;
  }
  * {
    -webkit-tap-highlight-color: transparent;
    @apply box-border select-none scroll-smooth;
  }
  html {
    @apply h-full leading-6;
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    font-feature-settings: normal;
    font-variation-settings: normal;
  }
  ::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
